:root {
  --kwpd-single-project-top--display: flex;
  --kwpd-single-project-top--gap: 2rem;
  --kwpd-projects-grid--display: grid;
  --kwpd-projects-grid--poster-template-columns: repeat( 4, 1fr );
  --kwpd-projects-grid--screenshot-template-columns: repeat( 3, 1fr );
  --kwpd-projects-grid--gap: 0.5rem;
  --kwpd-projects-grid--figcaption--background: linear-gradient(
		to top,
		rgba( 0, 0, 0, 0.85 ) 0%,
		rgba( 0, 0, 0, 0.625 ) 33.3325%,
		rgba( 0, 0, 0, 0.325 ) 100%
	);
}

@media screen and (max-width: 800px) {
  :root {
    --kwpd-projects-grid--poster-template-columns: repeat( 3, 1fr );
    --kwpd-projects-grid--screenshot-template-columns: repeat( 2, 1fr );
  }
}

@media screen and (max-width: 640px) {
  :root {
    --kwpd-projects-grid--poster-template-columns: repeat( 2, 1fr );
    --kwpd-projects-grid--screenshot-template-columns: repeat( 1 );
  }
}

@media screen and (max-width: 480px) {
  :root {
    --kwpd-projects-grid--poster-template-columns: repeat( 1 );
  }
}

.single-project-top {
  display: var(--kwpd-single-project-top--display);
  gap: var(--kwpd-single-project-top--gap);
}

.project-featured-image {
  max-width: var(--kwpd-single-project--featured-image--max-width, 240px);
}

.project-details p {
  margin-top: 0;
}

.project-details .project-info-label {
  font-weight: 700;
}

.project-imdb .icon {
  display: inline-block;
  vertical-align: middle;
}

.project-imdb .icon svg {
  fill: currentColor;
  height: 1em;
}

.projects-grid {
  list-style: var(--kwpd-projects-grid--list-style, none);
  display: var(--kwpd-projects-grid--display);
  -ms-grid-columns: var(--kwpd-projects-grid--poster-template-columns);
      grid-template-columns: var(--kwpd-projects-grid--poster-template-columns);
  gap: var(--kwpd-projects-grid--gap);
}

.projects-grid.projects-screenshot-grid {
  -ms-grid-columns: var(--kwpd-projects-grid--screenshot-template-columns);
      grid-template-columns: var(--kwpd-projects-grid--screenshot-template-columns);
}

.projects-grid figure {
  position: relative;
  overflow: hidden;
  border: var(--kwpd-projects-grid--figure--border);
}

.projects-grid figure img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: var(--kwpd-projects-grid--figure-image--background-color, #111111);
  color: var(--kwpd-projects-grid--figure-image--color, #ffffff);
}

.projects-grid figure:hover figcaption {
  opacity: 1;
}

.projects-grid figcaption {
  position: var(--kwpd-projects-grid--figcaption--position, absolute);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: var(--kwpd-projects-grid--figcaption--display, flex);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: var(--kwpd-projects-grid--figcaption--flex-direction, column);
          flex-direction: var(--kwpd-projects-grid--figcaption--flex-direction, column);
  -webkit-box-pack: var(--kwpd-projects-grid--figcaption--justify-content, flex-end);
      -ms-flex-pack: var(--kwpd-projects-grid--figcaption--justify-content, flex-end);
          justify-content: var(--kwpd-projects-grid--figcaption--justify-content, flex-end);
  padding: var(--kwpd-projects-grid--figcaption--padding, 1rem);
  background: var(--kwpd-projects-grid--figcaption--background);
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.projects-grid figcaption * {
  color: white !important;
}

.projects-grid figcaption svg {
  height: 1.25rem;
  fill: currentColor;
}

.projects-grid figcaption a {
  text-decoration: none;
}

.projects-grid figcaption .text-video,
.projects-grid figcaption .text-gallery,
.projects-grid figcaption .text-more {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.projects-grid.projects-poster-grid figcaption {
  opacity: 0;
}

.projects-grid.projects-poster-grid figcaption:hover {
  opacity: 1;
}

.projects-grid.projects-screenshot-grid figure img {
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.projects-grid.projects-screenshot-grid figure:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.projects-grid h3 {
  margin-top: 1em;
  font-size: 1.125rem;
  line-height: 1.2;
}

.projects-grid div ul {
  list-style: none;
  width: 100%;
  margin: 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

@media screen and (max-width: 640px) {
  .projects-grid div ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.projects-grid div ul li {
  margin: 0;
  line-height: 1;
}

.projects-grid div ul li:not(:last-of-type) {
  margin-right: 10%;
}

.projects-grid div:hover ul {
  opacity: 1;
}

.project-gallery-hidden {
  display: none;
}
