///
/// Frontend styles
///

:root {
	--kwpd-single-project-top--display: flex;
	--kwpd-single-project-top--gap: 2rem;
	--kwpd-projects-grid--display: grid;
	--kwpd-projects-grid--poster-template-columns: repeat( 4, 1fr );
	--kwpd-projects-grid--screenshot-template-columns: repeat( 3, 1fr );
	--kwpd-projects-grid--gap: 0.5rem;

	@media screen and ( max-width: 800px ) {
		--kwpd-projects-grid--poster-template-columns: repeat( 3, 1fr );
		--kwpd-projects-grid--screenshot-template-columns: repeat( 2, 1fr );
	}

	@media screen and ( max-width: 640px ) {
		--kwpd-projects-grid--poster-template-columns: repeat( 2, 1fr );
		--kwpd-projects-grid--screenshot-template-columns: repeat( 1 );
	}

	@media screen and ( max-width: 480px ) {
		--kwpd-projects-grid--poster-template-columns: repeat( 1 );
	}

	--kwpd-projects-grid--figcaption--background: linear-gradient(
		to top,
		rgba( 0, 0, 0, 0.85 ) 0%,
		rgba( 0, 0, 0, 0.625 ) 33.3325%,
		rgba( 0, 0, 0, 0.325 ) 100%
	);
}

.single-project-top {
	display: var( --kwpd-single-project-top--display );
	gap: var( --kwpd-single-project-top--gap );
}

.project-featured-image {
	max-width: var( --kwpd-single-project--featured-image--max-width, 240px );
}

.project-details {
	p {
		margin-top: 0;
	}

	.project-info-label {
		font-weight: 700;
	}
}

.project-imdb {
	.icon {
		display: inline-block;
		vertical-align: middle;

		svg {
			fill: currentColor;
			height: 1em;
		}
	}
}

///
///  Project grids
///
.projects-grid {
	list-style: var( --kwpd-projects-grid--list-style, none );
	display: var( --kwpd-projects-grid--display );
	grid-template-columns: var( --kwpd-projects-grid--poster-template-columns );
	gap: var( --kwpd-projects-grid--gap );

	&.projects-screenshot-grid {
		grid-template-columns: var( --kwpd-projects-grid--screenshot-template-columns );
	}

	figure {
		position: relative;
		overflow: hidden;
		border: var( --kwpd-projects-grid--figure--border );

		img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
			background-color: var( --kwpd-projects-grid--figure-image--background-color, #111111 );
			color: var( --kwpd-projects-grid--figure-image--color, #ffffff );
		}

		&:hover {
			figcaption {
				opacity: 1;
			}
		}
	}

	figcaption {
		position: var( --kwpd-projects-grid--figcaption--position, absolute );
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: var( --kwpd-projects-grid--figcaption--display, flex );
		flex-direction: var( --kwpd-projects-grid--figcaption--flex-direction, column );
		justify-content: var( --kwpd-projects-grid--figcaption--justify-content, flex-end );
		padding: var( --kwpd-projects-grid--figcaption--padding, 1rem );
		background: var( --kwpd-projects-grid--figcaption--background );
		opacity: 0;
		transition: opacity .25s;

		* {
			color: white !important;
		}

		svg {
			height: 1.25rem;
			fill: currentColor;
		}

		a {
			text-decoration: none;
		}

		.text-video,
		.text-gallery,
		.text-more {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			-webkit-clip-path: inset(50%);
					clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute !important;
			width: 1px;
			word-wrap: normal !important;
		}
	}

	&.projects-poster-grid {

		figcaption {
			opacity: 0;

			&:hover {
				opacity: 1;
			}
		}
	}

	&.projects-screenshot-grid {

		figure {
			img {
				filter: grayscale(20%);
				transition: all .25s;
			}

			&:hover {
				img {
					filter: grayscale(0%);
				}
			}
		}
	}

	h3 {
		margin-top: 1em;
		font-size: 1.125rem;
		line-height: 1.2;
	}

	div {
		ul {
			list-style: none;
			width: 100%;
			margin: 1rem 0 0;
			display: flex;
			opacity: 1;
			transition: opacity .25s;

			@media screen and ( max-width: 640px ) {
				justify-content: space-between;
			}

			li {
				margin: 0;
				line-height: 1;

				&:not( :last-of-type ) {
					margin-right: 10%;
				}
			}
		}

		&:hover {
			ul {
				opacity: 1;
			}
		}
	}
}

.project-gallery-hidden {
	display: none;
}
